
<p> <%= link_to "Add new todo", new_todo_path  %> </p>

<div class = "m-3">
 <div class="container">
   <div class="row">
     <div class="col">
       <div class ="table-responsive">
        <table class="table table-hover table-bordered align-middle">
         <thead class="table-dark">
          <tr>
           <th scope="col">#</th>
           <th scope="col">Name</th>
           <th scope="col">description</th>
           <th scope="col">show</th>
           <th scope="col">edit</th>
           <th scope="col">distroy</th>
          </tr>
         </thead>
         <tbody>
          <% @todos.each do |todo| %>
          <tr>
           <th scope="row"><%= todo.id %></th>
           <td> 
           <%= todo.name %>
           </td> 
           <td>
           <%= todo.description %>
           </td> 
           <td>
            <button type="button" class="btn btn-outline-info" ><%= link_to "Show todo", todo_path(todo)  %> </button>
           </td> 
           <td>
            <button type="button" class="btn btn-outline-info" > <%= link_to "Edit todo", edit_todo_path(todo)  %></button>
           </td> 
           <td>
            <button type="button" class="btn btn-outline-info" ><%= link_to "Distroy todo", todo_path(todo), method: :delete, data: {confirm: "Are you sure ?"}  %></button>
           </td> 
          </tr>
          <% end %>
         </tbody>
       </table>
      </div> 
     </div>
   </div>
 </div>
</div>

